<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
</head>
<body>

    <div class="home-page">
        <img src="/images/tulisan.jpg" alt="Logo or Icon">
        <h1>Welcome to the One Piece!</h1>
        <p>This is the home page of our Pirate.</p>
        <a href="/contact" class="btn">Go to Contact Page</a>
    </div>

</body>
</html>
