/* General body styles */
body {
    background-color: #2c3e50; /* Dark, stormy background */
    font-family: 'Pirata One', cursive; /* Pirate theme font */

}

/* Styling the main container */
.home-page {
    text-align: center;
    padding: 80px 20px;
    color: #ecf0f1;
}

/* Image styling */
.home-page img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

/* Title styling */
.home-page h1 {
    font-size: 3em;
    margin: 20px 0;
    color: #f39c12; /* Golden yellow, to evoke pirate treasures */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* Paragraph styling */
.home-page p {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #bdc3c7;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Button styling */
.home-page .btn {
    padding: 10px 20px;
    background-color: #28902f; /* Pirate red */
    color: #fff;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Button hover effect */
.home-page .btn:hover {
    background-color: #e74c3c; /* Lighter red on hover */
    transform: translateY(-3px);
}

/* Responsive design */
@media (max-width: 768px) {
    .home-page h1 {
        font-size: 2em;
    }

    .home-page p {
        font-size: 1em;
    }

    .home-page .btn {
        font-size: 1em;
    }
}
